<?xml version='1.0'?>
<launch>
  <!-- URDF and TF support -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find ronin_description)/urdf/ronin.xacro" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>    
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="publish_frequency" value="50.0"/>
  </node>
</launch>
