<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- joystick nodes -->
  <node name="joy_node" pkg="joy" type="joy_node"/>
  <node name="ronin_teleop_joy" pkg="ronin_teleop" type="ronin_teleop_joy.py">
    <rosparam command="load" file="$(find ronin_teleop)/param/ps4.yaml" />    
    <rosparam command="load" file="$(find ronin_base)/param/ronin_base.yaml" />        
  </node>

</launch>
