<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- MAP SERVER -->
  <arg name="map_file"  default="$(find ronin_navigation)/maps/house-test.yaml" />
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />

  <!-- AMCL -->
  <arg name="use_map_topic"  default="false"/>
  <arg name="scan_topic"     default="scan"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>  
  
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="$(arg scan_topic)"/>
    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a" value="$(arg initial_pose_a)"/>    
    
    <rosparam file="$(find ronin_navigation)/param/rplidar-a1_amcl_params.yaml" command="load"/>
  </node>  

</launch>